<!DOCTYPE html>
<html>

<head>
  <title>recipe images</title>
</head>

<body>
    <h1>recipe images</h1>
    <p> recipe has {{ images | count }} photo(s) </p>
    {% if images %}
    <form action="/remove_images" method="post">
        {% for image in images %}
        <input type="checkbox" name="image_id" value="{{ image.id }}">
        <img src="/image/{{ image.id }}" /> <br />
        {% endfor %}
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <p><input type="submit" value="delete selected photo(s)" /></p>
    </form>
    {% endif %}

    <p> <a href="/recipe/{{ recipe.id }}"> back to recipe </a></p>

    <h2>add new photos</h2>
    <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
        photo: <input type="file" name="image" accept=".png" />
        </p>
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="add photo" />
    </form>

</body>
</html>