{% extends "layout.html" %}

{% block title %}Baking recipes{% endblock %}

{% block content %}
<h2>recipes</h2>

{% if recipes %}
    {% for recipe in recipes %}
    <div class="item">
        <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
        by <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
    </div>
    {% endfor %}

    <p>
        {% if page > 1 %}
            <a href="/{{ page - 1 }}">&lt;&lt;</a>
        {% endif %}
        page {{ page }}/{{ page_count }}
        {% if page < page_count %}
            <a href="/{{ page + 1 }}">&gt;&gt;</a>
        {% endif %}
    </p>
{% else %}
    <p>there are no recipes added yet</p>
{% endif %}
{% endblock %}