<!DOCTYPE html>
<html>

<head>
  <title>Baking recipes</title>
</head>

<body>
    <h1> 
        baking recipes
    </h1>
    
    {% if session.username %}
    <p>
        you are logged in as {{ session.username }}
    </p>
    {% endif %}
    <p style= "margin-left: 1rem">
        {% if not session.username %}
            <a href="/login">log in</a><br>
            <a href="/register">register</a><br>
        {% endif %}

        {% if session.username %}
            <a href="/logout">log out</a><br>
        {% endif %}
    </p>

    <p>
        {% if session.username %}
            <a href="/new_recipe">add new recipe</a><br>
        {% endif %}
        <a href="/find_recipe">search recipe</a>
    </p>

    <h2> recipes </h2>
    <ul>
        {% for recipe in recipes %}
        <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>

</body>

</html>