<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>


    <h1>baking recipes</h1>
    
    {% if session.user_id %}
        <p>
            logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a> | <a href="/logout">log out</a>
        </p>
    {% else %}
        <p>
            <a href="/login">log in</a> | <a href="/register">register</a>
        </p>
    {% endif %}

    <p>
        <a href="/">main page</a> | <a href="/find_recipe">search recipe</a> | 
        {% if session.user_id %}
            <a href="/new_recipe">add new recipe</a>
        {% endif %}
    </p>

    {% block content %}{% endblock %}

</body>

</html>