
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">
<head>
  <title>Log in</title>
</head>

<body>
  <h1> baking recipes </h1>
  <h2> log in </h2>
  {% for message in get_flashed_messages() %}
    <div class="info">
        <b>{{ message }}</b>
    </div>
  {% endfor %}
  {% if session.user_id %}
  <p>
    you are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">log out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="log in" />
  </form>
  <p> don't have an account? <a href="/register">register</a></p>
  {% endif %}
  <p> <a href="/"> back to main page</a></p>
</body>

</html>