
<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>

<body>
  {% if session.username %}
  <p>
    you are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">log out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="log in" />
  </form>
  {% endif %}
</body>

</html>