{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<h2> log in </h2>
{% if session.user_id %}
<p>
  you are logged in as {{ session.username }}
</p>
<p>
  <a href="/logout">log out</a>
</p>
{% else %}
<form action="/login" method="post">
  <p>
    <b><label for="username">username</label>:</b> <br />
    <input type="text" name="username" id="username"/>
  </p>
  <p>
    <b><label for="password">password</label>:</b> <br />
    <input type="password" name="password" id="password"/>
  </p>
  <input type="submit" value="log in" />
</form>
<p> don't have an account? <a href="/register">register</a></p>
{% endif %}
{% endblock %}