<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">
<head>
  <title>New recipe</title>
</head>

<body>
    <h1> new recipe </h1>
    <form action="/create_recipe" method="post">
      <p>
        <b>recipe name:</b> <br />
        <input type="text" name="title" size="40" maxlength="120" required/>
      </p>

      <p>
        <b>category of the recipe:</b> <br />
        <select name="classes">
          <option value="">(choose)</option>
          {% for class in classes %}
            <option value="{{ class }}">{{ class }}</option>
          {% endfor %}
        </select>
      </p>

    <p>
      <b>description of the recipe:</b> <br />
      <textarea name="description_r" rows="5" cols="60" maxlength="300" required></textarea>
    </p>

    <p>
      <b>servings:</b> <br />
      <input type="text" name="servings" maxlength="30" required/>
    </p>

    <p>
      <b>ingredients:</b> <br />
      <textarea name="ingredients" rows="5" cols="60" maxlength="900" required></textarea>
    </p>

    <p>
      <b>method:</b> <br />
      <textarea name="method" rows="10" cols="60" maxlength="2900" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="add new recipe" />
  </form>
</body>

</html>