
<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
</head>

<body>
  <h1> create new account </h1>
  {% if session.user_id %}
  <p>
    you are logged in as {{ session.username }} <br>
    please, log out if you want to create new account first
  </p>
  <p>
    <a href="/logout">log out</a>
  </p>
  {% else %}
  <form action="/create" method="post">
    <p>
      username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      password once again: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="create new account" />
  </form>
  <p>already have an account? <a href="/login">log in</a></p>
  {% endif %}
  <p> <a href="/"> back to main page</a></p>
</body>

</html>