<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe.title }}</title>
</head>

<body>
    <h1> {{ recipe.title }} </h1>
    {% if session.user_id == recipe.user_id %}
    <p><a href="/edit_recipe/{{ recipe.id }}">edit recipe</a></p>
    <p><a href="/remove_recipe/{{ recipe.id }}">remove recipe</a></p>
    {% endif %}

    <p> author: {{ recipe.username }} </p>
    <p>{{ recipe.description_r }} </p>
    <p> servinngs: {{ recipe.servings }} </p>
    <p> ingredients: {{ recipe.ingredients }} </p>
    <p> method: {{ recipe.method }} </p>

    <p> <a href="/"> back </a></p>
</body>
</html>