{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h2> {{ user.username }}'s page </h2>
{% if recipes %}
    {% if recipe_count == 1 %}
        <p>user published 1 recipe:</p>
    {% else %}
        <p>user published {{ recipe_count }} recipes:</p>
    {% endif %}
{% else %}
    <p>user has not published recipes yet</p>
{% endif %}
<ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}