<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe.title }}</title>
</head>

<body>
    <h1> {{ recipe.title }} </h1>

    {% if session.user_id == recipe.user_id %}
    <p><a href="/edit_recipe/{{ recipe.id }}">edit recipe</a></p>
    <p><a href="/remove_recipe/{{ recipe.id }}">remove recipe</a></p>
    {% endif %}

    {% if classes%}
      {% for class in classes %}
        <p> recipe from category: {{ class }}</p>
      {% endfor %}
    {% endif %}
    <p> author: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> </p>
    <p>{{ recipe.description_r }} </p>
    <p> servinngs: {{ recipe.servings }} </p>
    <p> ingredients: {{ recipe.ingredients }} </p>
    <p> method: {{ recipe.method }} </p>

    <p> <a href="/"> back </a></p>
    <h2>questions by users TBA </h2>

    <h2>comments and reviews</h2>
    <h2>write a review or ask a question</h2>
    <form action="/create_review" method="post">
      <p> your rating of the recipe (1-5): <br />
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
        <input type="text" name="rating_review" size="15" pattern="[1-5]{0,1}" required/> <br />
        comment: <br />
        <textarea name="text_review" rows="10" cols="60" maxlength="1000" required></textarea>
      </p>
      <input type="submit" value="add new comment" />
    </form>

    <h2>comments and reviews</h2>
    {% for review in reviews%}
    <p> review by: <a href="/user/{{ review.user_id }}">{{ review.username }}</a><br />
      rating: {{ review.rating_review }} <br />
      {{ review.text_review }}
    </p>
    {% endfor %}

</body>
</html>